.table_content{
    margin: 3rem;
    overflow-y: scroll;
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f1f1f1;
    /* overflow-x: hidden; */
}
/* .table_content table{
    overflow-y: scroll;
} */
.table_content thead{
   background-color: #0a1c33;
   color: aliceblue;
   font-size: 20px;
}
.table_content tbody{
    font-size: 20px;
    color: white;
    padding: 1rem;
    background-color: #485361;
}
.table_content td{
    color: white;
}

.table_content::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .table_content::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .table_content::-webkit-scrollbar-thumb {
    background: #47494b; 
    border: 1px solid rgb(236, 237, 241);
    border-radius: 20%;
  }
  
  /* Handle on hover */
  .table_content::-webkit-scrollbar-thumb:hover {
    background: #0a1c33; 
  }